@model IEnumerable<esercizioW17D5.Models.Trasgressore>

@{
    ViewBag.Title = "GetTrasgressori";
}

<h2 class="text-center">TRASGRESSORI</h2>

<p>
    <div>
        @Html.ActionLink("<- Indietro", "Index", new { }, new { @class = "text-decoration-none" })
    </div>
    @Html.ActionLink("AGGIUNGI TRASGRESSORE", "NewTrasgressore", new { }, new { @class = "mt-3 btn btn-success rounded-0" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDAnagrafica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Citta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cod_Fisc)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDAnagrafica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Citta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cod_Fisc)
        </td>
    </tr>
}

</table>
